<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home/home.css">
  <link rel="stylesheet" href="/css/product/product.css">
  <title>Sendo - <%- title -%>
  </title>
</head>

<body>
  <%- include( '../header/header.ejs' ) -%>
    <div class="navbar">
      <a href="/" class="active">Cho bạn</a>
      <a href="/productre/?q=nam">Thời trang nam</a>
      <a href="/productre/?q=nu">Thời trang nữ</a>
      <a href="/productre/?q=nu">Sức khỏe - Làm đẹp</a>
      <a href="/productre/?q=phụ%20kiện">Đồng hồ - Trang sức</a>

    </div>
    <div class="main">
      <div class="categories">
        <div class="category-item">
          <img alt="Siêu thị Sendo Farm" height="50"
            src="https://storage.googleapis.com/a1aa/image/By1vO60TpFJGBNc4QSqmj191mrqfB8wedskqoemWb56Vl9wnA.jpg"
            width="50" />
          <p>Siêu thị Sendo Farm</p>
        </div>
        <div class="category-item">
          <img alt="Thực phẩm chức năng" height="50"
            src="https://storage.googleapis.com/a1aa/image/YmafaWz6eyuLD03rrVQetY844Z00ShPfNOEFESEvYqA0J7hPB.jpg"
            width="50" />
          <p>Thực phẩm chức năng</p>
        </div>
        <div class="category-item">
          <img alt="Đồ gia dụng -50%" height="50"
            src="https://storage.googleapis.com/a1aa/image/1LmtECngJQrlKJZ1GkxrysE9hffRX9Kc3C7BxHDRhuzsyewnA.jpg"
            width="50" />
          <p>Đồ gia dụng -50%</p>
        </div>
        <div class="category-item">
          <img alt="Bí quyết chăm da" height="50"
            src="https://storage.googleapis.com/a1aa/image/l1AWtcaRSmYaO5u1Xk7J3xsGiJ6q5mpfiZFd0HFk4RevyewnA.jpg"
            width="50" />
          <p>"Bí quyết" chăm da</p>
        </div>
        <div class="category-item">
          <img alt="Trà thảo dược" height="50"
            src="https://storage.googleapis.com/a1aa/image/rAoDKe0bWcSveEkg1zHUBwQ4eHxIzctqrHZ3KVYuekMnL7hPB.jpg"
            width="50" />
          <p>Trà thảo dược</p>
        </div>
        <div class="category-item">
          <img alt="Vệ sinh nhà cửa" height="50"
            src="https://storage.googleapis.com/a1aa/image/daHmD3Voffg0fJCrEWeRtLUScvXRkeNgOaualbJVKXf0nsHeJA.jpg"
            width="50" />
          <p>Vệ sinh nhà cửa</p>
        </div>
        <div class="category-item">
          <img alt="Bột dinh dưỡng" height="50"
            src="https://storage.googleapis.com/a1aa/image/agIvFZhQQwZBL1c87OOa2XMroZdFrC6n7rIhYllLmp1ssHeJA.jpg"
            width="50" />
          <p>Bột dinh dưỡng</p>
        </div>
        <div class="category-item">
          <img alt="Chăm sóc cá nhân" height="50"
            src="https://storage.googleapis.com/a1aa/image/oPsfBu0QULXVYqHIu1OB7mOCr9vwXq6331lKmlC0aBHRZP8JA.jpg"
            width="50" />
          <p>Chăm sóc cá nhân</p>
        </div>
        <div class="category-item">
          <img alt="Nạp thẻ &amp; dịch vụ" height="50"
            src="https://storage.googleapis.com/a1aa/image/5QLn1tPA2WoeRy55dkILnbrA5YdfzaeMPGHudL4EafmQK7hPB.jpg"
            width="50" />
          <p>Nạp thẻ &amp; dịch vụ</p>
        </div>
        <div class="category-item">
          <img alt="Mã giảm giá &amp; Freeship" height="50"
            src="https://storage.googleapis.com/a1aa/image/AnGQghZsw24EBxF4uCfr12eweN0sZ9GoQ7yhft4CPoAsJ7hPB.jpg"
            width="50" />
          <p>Mã giảm giá &amp; Freeship</p>
        </div>
      </div>
      <div class="banner">
        <img alt="Vệ sinh nhà cửa chỉ từ 5K" height="200"
          src="https://storage.googleapis.com/a1aa/image/zhvtxbfbF6UkXqoMeEJrYNSna1JxWkHyjqB73pBGXaL1yewnA.jpg"
          width="600" />
        <img alt="Top Deal Hội Tụ" height="200"
          src="https://storage.googleapis.com/a1aa/image/vVlX98xEZIaIMRNeofSwVeRSQPZYGRi6I0zupH2XewMiK7hPB.jpg"
          width="600" />
        <img alt="Gia dụng sale sốc chỉ từ 9K" height="200"
          src="https://storage.googleapis.com/a1aa/image/13S76mF1GM7eMKCa1ujrN40WHWzRy5ZhMtpevyZGkVegl9wnA.jpg"
          width="600" />
      </div>
      <div class="flash-sale">
        <div class="flash-sale-header">
          <h2>FLASH SALE</h2>
          <div class="timer">
            <span>04</span> : <span>53</span> : <span>04</span>
          </div>
          <a href="#">Xem tất cả</a>
        </div>
        <div class="flash-sale-items" id="flash-sale-items">
          <div class="flash-sale-item">
            <img alt="Product 1" height="150"
              src="https://storage.googleapis.com/a1aa/image/oQkFl6pSxWJNPVoLbwzmUyxcxeMVy1L3POeJmbLvHvThyewnA.jpg"
              width="150" />
            <p>52.000đ</p>
            <p class="old-price">150.000đ</p>
            <p class="discount">-66%</p>
          </div>
          <div class="flash-sale-item">
            <img alt="Product 2" height="150"
              src="https://storage.googleapis.com/a1aa/image/yAzRMopctPp1KZjfv15J0FdJGfUyrz62Qt0dH5D8j2MpyewnA.jpg"
              width="150" />
            <p>228.000đ</p>
            <p class="old-price">300.000đ</p>
            <p class="discount">-24%</p>
          </div>
          <div class="flash-sale-item">
            <img alt="Product 3" height="150"
              src="https://storage.googleapis.com/a1aa/image/ay5ZXyCsqxJGAtRrAZqS2ymm7KKAOp3XBk2s2AEky67tsHeJA.jpg"
              width="150" />
            <p>36.000đ</p>
            <p class="old-price">47.000đ</p>
            <p class="discount">-24%</p>
          </div>
          <div class="flash-sale-item">
            <img alt="Product 4" height="150"
              src="https://storage.googleapis.com/a1aa/image/vzv78SmeQ9ykYahkAmyeiCrIlgC5LeXGZQce3USHNu9oL7hPB.jpg"
              width="150" />
            <p>3.000đ</p>
            <p class="old-price">16.000đ</p>
            <p class="discount">-82%</p>
          </div>
          <div class="flash-sale-item">
            <img alt="Product 5" height="150"
              src="https://storage.googleapis.com/a1aa/image/oCFvdqPTI5qhNBP8tf231FfUAilQz2VzkC1PevNcKiZll9wnA.jpg"
              width="150" />
            <p>10.000đ</p>
            <p class="old-price">19.000đ</p>
            <p class="discount">-48%</p>
          </div>
          <div class="flash-sale-item">
            <img alt="Product 6" height="150"
              src="https://storage.googleapis.com/a1aa/image/ZSjipdeUzj2lYKVrLF2ANThnRlh17UepF68Wpj89rnsZyewnA.jpg"
              width="150" />
            <p>237.000đ</p>
            <p class="old-price">400.000đ</p>
            <p class="discount">-41%</p>
          </div>
          <div class="flash-sale-item">
            <img alt="Product 7" height="150"
              src="https://storage.googleapis.com/a1aa/image/RMB86vBKuk6BO543XXeYoaypQWdPpsGjgFaexMCBh6AmyewnA.jpg"
              width="150" />
            <p>228.000đ</p>
            <p class="old-price">300.000đ</p>
            <p class="discount">-24%</p>
          </div>
          <div class="flash-sale-item">
            <img alt="Product 8" height="150"
              src="https://storage.googleapis.com/a1aa/image/NnYZtKQLMSJJOtMqyHiRmVOcHNZsNazAGouMW76KlV6psHeJA.jpg"
              width="150" />
            <p>3.000đ</p>
            <p class="old-price">9.000đ</p>
            <p class="discount">-67%</p>
          </div>
        </div>
        <div class="slideshow-controls">
          <button id="prev-button">❮ Prev</button>
          <button id="next-button">Next ❯</button>
        </div>
      </div>
    </div>


    <div class="main-wrapper">
      <div class="top-section">
        <h2>
          <i class="fas fa-map-marker-alt">
          </i>
          Tiện ích cho bạn
        </h2>
        <a href="#">
          Xem tất cả
        </a>
      </div>
      <div class="utility-grid">
        <div class="utility-item" style="background-color: #ffe6e6;">
          <img alt="Icon for Hóa Đơn Điện" height="25"
            src="https://storage.googleapis.com/a1aa/image/ThDcylqH9c5dIND6MOsoChpJXHeMx7leqhTyHz1f7IUPe9hPB.jpg"
            width="15" />
          <p>
            Hóa Đơn Điện
          </p>
        </div>
        <div class="utility-item" style="background-color: #e6f7f7;">
          <img alt="Icon for Mua Thẻ Cào" height="25"
            src="https://storage.googleapis.com/a1aa/image/4QUxRcpqfHyEKSVTeKjSyCLspeQzH1gzYPyT8XWJJjsXe9hPB.jpg"
            width="15" />
          <p>
            Mua Thẻ Cào
          </p>
        </div>
        <div class="utility-item" style="background-color: #fff0e6;">
          <img alt="Icon for Mua Thẻ Game" height="25"
            src="https://storage.googleapis.com/a1aa/image/FW1Ttxh5J6qMIVj0y1yKXaczW6b2LdjIylJPHXN7nyZv3HeJA.jpg"
            width="15" />
          <p>
            Mua Thẻ Game
          </p>
        </div>
        <div class="utility-item" style="background-color: #e6f0ff;">
          <img alt="Icon for Bao bay giá rẻ!" height="25"
            src="https://storage.googleapis.com/a1aa/image/S1qdb4R48ya7M5ULm7Bu07fQodQqTTgs24lofSGu9N0AfehPB.jpg"
            width="15" />
          <p>
            Bao bay giá rẻ!
          </p>
        </div>
        <div class="utility-item" style="background-color: #fff0e6;">
          <img alt="Icon for Ưu đãi đối tác" height="25"
            src="https://storage.googleapis.com/a1aa/image/IdGTSGfOS3yjeUY7Qf3yjJCgTp7TZ9hsuTnGmxGLhZLNe9hPB.jpg"
            width="15" />
          <p>
            Ưu đãi đối tác
          </p>
        </div>
        <div class="utility-item" style="background-color: #e6e6ff;">
          <img alt="Icon for Nạp tiền điện thoại" height="25"
            src="https://storage.googleapis.com/a1aa/image/QO516ACOVmrZAdLmfeeU0WAFkWXKKNUEjPGOkbhXgxgTe9hPB.jpg"
            width="15" />
          <p>
            Nạp tiền điện thoại
          </p>
        </div>
        <div class="utility-item" style="background-color: #e6f0ff;">
          <img alt="Icon for Hóa Đơn Nước" height="25"
            src="https://storage.googleapis.com/a1aa/image/neMOdf9enMOhPoYXn1YgaAFoi1UwWErNWHg7FSMEYphKe9hPB.jpg"
            width="15" />
          <p>
            Hóa Đơn Nước
          </p>
        </div>
        <div class="utility-item" style="background-color: #e6f7f7;">
          <img alt="Icon for Hóa Đơn Internet" height="25"
            src="https://storage.googleapis.com/a1aa/image/IYp0g9nNfzWJfkF29DlzLnQViTPnEU6uRRrLaDYY8R0DfehPB.jpg"
            width="15" />
          <p>
            Hóa Đơn Internet
          </p>
        </div>
        <div class="utility-item" style="background-color: #e6f7f7;">
          <img alt="Icon for Vé tàu" height="25"
            src="https://storage.googleapis.com/a1aa/image/PhKuH9fazfm5rkp6zG9MZ7haBvUsue91WHd323QzTvIf79hPB.jpg"
            width="15" />
          <p>
            Vé tàu
          </p>
        </div>
        <div class="utility-item" style="background-color: #e6e6ff;">
          <img alt="Icon for Vé xe" height="25"
            src="https://storage.googleapis.com/a1aa/image/e4uiX3TzJa01CCHl9pfffz0EdSi5ed4KbiWFkiT5WZFL47DfE.jpg"
            width="15" />
          <p>
            Vé xe
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <% if (data.length===0) { %>
        <center>
          <h3>
            <%= message %>
          </h3>
        </center>
        <% } else { %>
          <% for (const item of data) { %>
            <a href="/product/detail/<%= item.id %>" style="text-decoration: none;">
              <div class="product-card">
                <img alt="<%= item.name %>" height="220" src="<%= item.image %>" width="220" />
                <div class="product-info">
                  <h3>
                    <%= item.name %>
                  </h3>
                  <div class="price">
                    <%= item.price %>
                  </div>
                  <div class="buy-later">
                    <i class="fas fa-clock"></i>
                    Mua trước trả sau
                  </div>
                  <div class="buy-now">
                    Mở bán
                  </div>
                  <div class="rating">
                    4.7/5
                    <i class="fas fa-star"></i>
                  </div>
                </div>
              </div>
            </a>
            <% } %>
              <% if (total && data.length + offset < total) { %>
                <div class="load-more">
                  <form method="get" action="">
                    <input type="hidden" name="limit" value="<%= limit %>">
                    <input type="hidden" name="offset" value="<%= offset + limit %>">
                    <button type="submit">Xem thêm</button>
                  </form>
                </div>
                <% } %>
                  <% } %>
    </div>
    <script>
      document.getElementById('prev-button').addEventListener('click', function () {
        document.getElementById('flash-sale-items').scrollBy({
          top: 0,
          left: -300,
          behavior: 'smooth'
        });
      });

      document.getElementById('next-button').addEventListener('click', function () {
        document.getElementById('flash-sale-items').scrollBy({
          top: 0,
          left: 300,
          behavior: 'smooth'
        });
      });
    </script>
    <%- include( '../fooder/fooder.ejs' ) -%>
</body>

</html>